<div>
    
    <!--	<a ui-sref="overview" class="pull-right btn btn-primary btn-outline btn-rounded">Back to Overview</a>-->
    <h2>Chamados <small></small></h2>
    <!--<span class="glyphicon glyphicon-edit bg-fade"></span>-->
    <div class="jumbotron">
        <div class="container">
            <p>
                <a class="btn btn-primary btn-lg btn-outline btn-rounded" ng-click="showModal({tipo: 'Incidente'})">Novo incidente</a>    
                <a class="btn btn-primary btn-lg btn-outline btn-rounded" ng-click="showModal({tipo: 'Solicitação'})">Nova solicitação</a>    
            </p>

            <table ng-table="param" class="table">
                <tr ng-repeat="chamado in chamados">
                    <td data-title="'Código'" sortable="'id'">{{chamado.id|number}}</td>
                    <td data-title="'Tipo'" sortable="'tipoChamado.desc'">{{chamado.tipoChamado.desc}}</td>
                    <td data-title="'Abertura'" sortable="'datahora'">{{chamado.datahora|date:'dd/MM/yyyy'}}</td>
                    <td data-title="'Usuário'" sortable="'usuarioAutor.nome'">{{chamado.usuarioAutor.nome}}</td>
                    <td data-title="'Assunto'" sortable="'assunto'">{{chamado.assunto}}</td>
                    <td data-title="'Severidade'" sortable="'tipoFalha.desc'">{{chamado.tipoFalha.desc}}</td>
                    <td data-title="'Situação'" sortable="'tipoSituacao.desc'">{{chamado.tipoSituacao.desc}}</td>
                    <td data-title="'Ação'">
                        <a class="btn btn-circle btn-icon-only btn-default" ng-click="showModal({chamado: chamado})">
                            <i class="fa fa-pencil-square-o"></i>
                        </a>
                    </td>
                </tr>
            </table>

        </div>
    </div>
</div>