<div>
    <h2>Relatórios <small></small></h2>
    <div class="jumbotron">
        <div class="container">
            <div class="form-group">
                <label for="relatorio" class="col-sm-2 control-label">Tipo de relatório</label>
                <div class="col-sm-10">
                    <select name="relatorio" id="relatorio" required="" ng-model="relatorioSelecionado" ng-options="relatorio.rotulo for relatorio in relatorios track by relatorio.nome"></select>
                </div>
            </div>
            <div class="form-group">
                <a class="pull-right btn btn-primary btn-lg btn-outline btn-rounded" ng-click="download()">Gerar relatório</a>
            </div>
        </div>
    </div>
</div>